@font-face {
  font-family: "URWGeometric-Bold.woff";
  src: url("/URWGeometric-Bold.woff") format("woff");
}

.form-container {
  display: flex;
  flex-flow: row;
  align-items: baseline;
  width: 100%;
  justify-content: center;
}

.plus-sign {
  font-family: "URWGeometric-Bold.woff";
  font-size: 40px;
  color: #22b573;
  margin-right: 20px;
}

.inputfield {
  padding: 1px;
  border-width: 2px;
  border-style: none;
  border-image: none;
  border-bottom: 1px solid black;
  width: 300px;
  height: 50px;
  margin-bottom: 30px;
  font-family: "URWGeometric-Bold.woff";
  font-size: 40px;
}

.inputfield:focus {

  color: black;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin-bottom: 30px;
  font-family: "URWGeometric-Bold.woff";
  font-size: 40px;
  outline: none;
}