* {
  box-sizing: border-box;
  font-family: "URWGeometric-Bold.woff";
}

.background-container {
  display: flex;
  flex-flow: column;
  /*justify-content: space-around;*/
  text-align: center;
  height: 100vh;
}

.app-form-list-form {
  background-color: #a3f5ff;
}

.app-form {
  margin-top: 20px;
}
