* {
  box-sizing: border-box;
  font-family: "URWGeometric-Bold.woff";
}

.background-container {
  display: flex;
  flex-flow: column;
  text-align: center;
}

.app-form-list-form {

  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding: 0px 40px;
}

.app-form {
  margin-top: 20px;
}
