.chooseTask-button {
  width: 200px;
  height: 200px;
  background-color: #22b573;
  color: white;
  border-style: none;
  margin: 10px;
  font-family: "URWGeometric-Bold.woff";
  font-size: 20px;
}

.chooseTask-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 20px 50px;
  height: 100vh;
  width: 100%;

}
