.task-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.task-text-button {
  display: flex;
  height: 40px;
  justify-content: center;
  width: 50%;
}

.task-text {
  background-color: #a3d1ff5c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
  padding-left: 10px;
  text-align: left;
  width: 500px;
  color: white;
  font-family: "URWGeometric-Bold.woff";
  font-size: 20px;
  border-bottom: 3px dotted white;
}

.task-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;

  }

.task-button button {
  background-color: #27b472;
  color: white;
  border-style: none;
  font-style: italic;
}
