.task-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  background-color: yellow;
}

.task-text-button {

  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  background-color: green;
}

.task-text {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  background-color: blue;
}

.task-button {
  width: 100px;
  color: green;
  border-style: solid;
  border-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: blue;
}
