.task-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.task-text-button {
  display: flex;
  height: 40px;
  justify-content: center;
  width: 50%;
}

.task-text {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
  padding-left: 10px;
  text-align: left;
  width: 500px;
  color: black;
  font-family: "URWGeometric-Bold.woff";
  font-size: 20px;
  border-bottom: 2px dotted black;

}
.delete-button {
  text-align: center;
  width: 80px;
  border: 1px dashed black;
  outline: none;
  background-color: #27b472;
  color: white;
  border-style: none;
  font-style: italic;
  height: 30px;
  font-size: 14px;
  padding-top: 5px;
}

.task-button {
  text-align: center;
  width: 80px;
  background-color: #27b472;
  color: white;
  border-style: none;
  font-style: italic;
  height: 30px;
  font-size: 14px;
  padding-top: 5px;
  }
