.header-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0 40px;
}

.logo-container img{
  height: 250px;
}
.kivra-logo-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.kivra-logo-container img {
  height: 20px;
}
.inCollab-txt {
  font-size: 16px;
  margin-top: 30px;
}

.go-button {
  width: 100px;
  height: 60px;
  background-color: #22b573;
  color: white;
  border-style: none;
  margin-top: 60px;
  font-size: 20px;
  border-radius: 8px;
}

.go-button:{
  background: red;

}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.logo-container:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
